@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&family=Lato:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-aria-void text-gray-200 font-body;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-cinzel text-aria-gold;
}